@{
    ViewData["Title"] = "Profil";
}

<p>Prenom : @ViewData["Firstname"]</p>
<p>Nom : @ViewData["Name"]</p>
<p>Age : @ViewData["Age"]</p>
<p>Mail : @ViewData["Mail"]</p>
<p>Username : @ViewData["Username"]</p>
